<!DOCTYPE html>
<html>
    <head>
        <title> Yelp Camp</title>
            <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>

<nav class="navbar navbar-extend-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="/">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
              <li class="nav-item active"><a  href="/">Login</a></li>
              <li class="nav-item"><a  href="/">Signup</a></li>
              <li class="nav-item"><a  href="/">Logout</a></li>
            </ul>
    </div>
</nav>