<h1>This is the Secret Page</h1>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout !</a></li>


<img src="https://images.unsplash.com/photo-1553483535-d58f0c81b0b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80">